<h1>Alarms#index</h1>

<%= link_to "Add a new alarm", new_alarm_url %>

<ul class="alarms">
  <% @alarms.each do |alarm|  %>
  <li class=" <%=alarm.title%> " >
  <%=alarm.title%>
  <h4><%= alarm.value %></h4>
  <%= button_to "Upvote", alarm_upvote_url(alarm) %>
  </li>

  <%end %>
</ul>
